# --- Specifické požadavky ---
__pycache__/
materiály/
sim_build/
sim_env/
results.xml
cocotb_waveform.vcd
full_test
sim_full
rounds_debug.vcd

# --- Python ---
*.py[cod]
*$py.class

# --- VS Code ---
.vscode/
*.code-workspace

# --- Linux ---
.DS_Store
.directory
*~
